
  <div class="container py-5">
    <!-- link_to 'Post a Project', new_posting_path -->
    <h2 class="mb-4">List a Project</h2>
    <div>
      <%= form_for @posting, method: :post do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, cols: 30, rows: 1 %>
        <%= f.label :price %>
        <%= f.number_field :price %>
        <div>
        <div>
        <%= f.text_area :description, cols: 80, rows: 5, placeholder: "Describe your awesome project here. We know it's off the chain..." %>
        <div>
        <div>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container py-5">
    <h2>Available Projects</h2>
    <br>
    <% @postings.each do |posting| %>
      <h5><strong><%= link_to posting.title, posting_path(posting) %></strong></h5>
      <p><%= posting.description %></p>
      <p>$<%= posting.price %></p>
      <hr>
    <% end %>
  </div>

