
  <div class="container py-5">
    <!-- link_to 'Post a Project', new_posting_path -->
    <h4>Create a new posting</h4>
    <div>
      <%= form_for @posting, method: :post do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.label :price %>
        <%= f.number_field :price %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="container py-5">
    <h4>Recent Projects Posted</h4>
    <br>
    <% @postings.each do |posting| %>
      <h5><strong><%= link_to posting.title, posting_path(posting) %></strong></h5>
      <p><%= posting.description %></p>
      <p>$<%= posting.price %></p>
      <hr>
    <% end %>
  </div>

