<div class='container py-5'>
  <h3> <%= @posting.title %> </h3>
    <p> Posted by: <%= @posting.user.email %> </p>
    <br>
    <p> <%= @posting.description %>. </p>
    <!-- User.first.applications.find_by_posting_id(1) -->
    <% if current_user.applications.find_by_posting_id(@posting.id).nil? %>
      <%= link_to "Submit an Application", new_posting_application_path(@posting), class: 'btn_green' %>
    <% else %>
      <div class="flash flash-success show" role="alert">
        <span><strong>Yay!</strong> 🎉 you successfully applied to this project!</span>
      </div>
    <% end %>
   <div class="mt-3">
    <%= link_to "Back to Postings", "/postings", class: 'btn-green' %>
   </div>
<div>
